{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 > My google OAuth Project </h1>
    {% if user.is_authenticated %}
    <p>Welcome. You are logged in as {{user.username}} </p>
    <a href="{% url 'account_logout' %}">Log Out</a>
    {% else %}
    <button class="btn btn-primary mb-2">
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
    </button>
    <p>OR</p>
    <button class="btn btn-primary mb-2">
        <a href="{% provider_login_url 'facebook' %}">Login with Facebook</a>
    </button>
    <p>OR</p>
    <button class="btn btn-primary mb-2">
        <a href="{% provider_login_url 'github' %}">Login with Github</a>
    </button>
    <p>OR</p>
    <button class="btn btn-primary mb-2">
        <a href="{% url 'social:begin' 'linkedin-oauth2' %}">Login with LinkedIn</a>
    </button>
    {% endif %} 
    
</body>
</html> 
